In [1]:
# Exp no.: 3

In [ ]:
#Aim: To perform Basics of Data Frame

In [ ]:
# Name: Gouri Pandey

In [ ]:
# Roll no : 46

In [ ]:
# sec: B

In [ ]:
# subject: DSS ( Data science and statistics )

In [ ]:
# Importing the basic Library

# Creating Series

In [ ]:
import pandas as pd

In [2]:
Name = ["Rhea","Aditya","Avantika","Renee","Pihu"]
Name

['Rhea', 'Aditya', 'Avantika', 'Renee', 'Pihu']

In [3]:
Roll_list = pd.Series(Name,index=[1,2,3,4,5])
print(Roll_list)

1        Rhea
2      Aditya
3    Avantika
4       Renee
5        Pihu
dtype: object

# Creating a Data Frame

In [5]:
df = pd.DataFrame([[10,12,14,16],[11,18,15,21],[12,13,14,15]],
    columns = ["CD","DBMS","DSS","CAO"])

In [6]:
df

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15

In [7]:
df.shape

(3, 4)

In [8]:
df.size

12

In [9]:
df.ndim

2

# Adding a record (row) to the dataframe

In [11]:
df2 = pd.DataFrame([[5,6,7,8]],
columns = ["CD","DBMS","DSS","CAO"])

In [16]:

df3 = pd.concat([df, df2], ignore_index=True)

In [17]:
df3

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

In [18]:
df3.shape

(4, 4)

In [19]:
df3.size

16

In [21]:
df3.ndim

2

# Adding attribute (column) name DM

In [22]:
df3["DM"]=[12,15,16,14]

In [23]:
df3

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
1  11    18   15   21  15
2  12    13   14   15  16
3   5     6    7    8  14

# Deleting Record from df3 dataframe

In [29]:
df4 =df3.drop(index=[1])

In [30]:
df4

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
2  12    13   14   15  16
3   5     6    7    8  14

# Deleting Attribute (columns) fromdf3 dataframe

In [31]:
df5= df3.drop(columns=["DM"])

In [32]:
df5

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

In [33]:
print("Mean of DSS:", df5["DSS"].mean())

Mean of DSS: 12.5

In [34]:
print("Median of DSS:", df5["DSS"].median())
print("Mode of DSS:", df5["DSS"].mode())

Median of DSS: 14.0
Mode of DSS: 0    14
Name: DSS, dtype: int64